body{
  font-family: 'Arial', sans-serif;
  background-color: #fdf3e7; 
  color: #333333;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

header{
  background-color: #ed5965;
  padding: 15px;
  max-width: 600px;
  margin: 20px auto;
}

header,footer{
  text-align: center;
  color: #ffffff;
  padding: 0;
}

.comp-name{
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
}

.motto{
  font-style: italic;
  font-size: 1.1rem;
}

.form-container{
  text-align: center;
  margin-bottom: 15px;
}

.form-container img{
  width: 350px;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.free-delivery{
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 5px;
  margin-top: 15px;
}

.order{
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
}

.contact-info{
  display: flex;
  flex-direction: column; 
  gap: 3px;               
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 20px;
}

footer{
  background-color: #ed5965;
  margin-top: 20px;
  padding: 15px;
}

main{
  background-color: #fff9f3;
  margin: 20px auto;
  padding: 20px;
  max-width: 600px;
  border: 2px solid #f48861;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form > div,
form > section{
  margin-bottom: 20px;
}

label{
  display: flex;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="number"],
input[type="time"],
select,
textarea{
  font-size: 1rem;
  width: 100%;
  padding: 8px 10px;
  border: 1px solid #cccccc;
  border-radius: 6px;
}

textarea{
  resize: vertical;
}

section div{
  margin-bottom: 5px;
}

section h2 {
  margin-top: 8px;      
}


input[type="radio"],
input[type="checkbox"]{
  margin-right: 6px;
}

button{
  font-size: 1rem;
  background-color: #e74f28;
  color: #ffffff;
  padding: 12px 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover{
  background-color: #da3f14;
}

.success{
  background-color: #d4edda;
  color: #155724;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 15px;
  border: 1px solid #c3e6cb;
}

.error{
  background-color: #ea6570;
  color: #b91728;
  padding: 10px;
  border:1px solid#d35a64;
  border-radius: 6px;
  margin-bottom: 15px;
}
